@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@layer theme, base, components, utilities;

@theme {
  --font-roboto: "Roboto", monospace;
  --breakpoint-md: 811px;

  --color-picton-blue-50: #f5fdff;
  --color-picton-blue-100: #e8fbff;
  --color-picton-blue-200: #c7f5ff;
  --color-picton-blue-300: #a3ebff;
  --color-picton-blue-400: #5ed7ff;
  --color-picton-blue-500: #1abaff;
  --color-picton-blue-600: #15a0e6;
  --color-picton-blue-700: #0d7bbf;
  --color-picton-blue-800: #095b99;
  --color-picton-blue-900: #053c73;
  --color-picton-blue-950: #02224a;

  --color-supernova-50: #fffef2;
  --color-supernova-100: #fffce8;
  --color-supernova-200: #fff8c4;
  --color-supernova-300: #fcf09f;
  --color-supernova-400: #fce25b;
  --color-supernova-500: #facc14;
  --color-supernova-600: #e0b010;
  --color-supernova-700: #ba860b;
  --color-supernova-800: #966208;
  --color-supernova-900: #704304;
  --color-supernova-950: #472601;

  --color-mirage-50: #edf2f5;
  --color-mirage-100: #dde5eb;
  --color-mirage-200: #a9bbc9;
  --color-mirage-300: #7e94a8;
  --color-mirage-400: #3b4d69;
  --color-mirage-500: #0f1729;
  --color-mirage-600: #0c1324;
  --color-mirage-700: #090e1f;
  --color-mirage-800: #060a1a;
  --color-mirage-900: #030612;
  --color-mirage-950: #01040d;

  --color-alabaster-50: #ffffff;
  --color-alabaster-100: #ffffff;
  --color-alabaster-200: #ffffff;
  --color-alabaster-300: #fcfeff;
  --color-alabaster-400: #fafbfc;
  --color-alabaster-500: #f8fafc;
  --color-alabaster-600: #c8d5e3;
  --color-alabaster-700: #8aa0bd;
  --color-alabaster-800: #597196;
  --color-alabaster-900: #324a73;
  --color-alabaster-950: #15264a;

  --color-primary-50: #00121a;
  --color-primary-100: #002433;
  --color-primary-200: #004766;
  --color-primary-300: #006b99;
  --color-primary-400: #008fcc;
  --color-primary-500: #00b2ff;
  --color-primary-600: #33c2ff;
  --color-primary-700: #66d1ff;
  --color-primary-800: #99e0ff;
  --color-primary-900: #ccf0ff;
  --color-primary-950: #e5f7ff;

  --color-secondary-50: #191401;
  --color-secondary-100: #322801;
  --color-secondary-200: #645002;
  --color-secondary-300: #967903;
  --color-secondary-400: #c8a104;
  --color-secondary-500: #fac905;
  --color-secondary-600: #fbd437;
  --color-secondary-700: #fcdf69;
  --color-secondary-800: #fde99b;
  --color-secondary-900: #fef4cd;
  --color-secondary-950: #fefae6;

  --color-accent-50: #00111a;
  --color-accent-100: #002133;
  --color-accent-200: #004266;
  --color-accent-300: #006399;
  --color-accent-400: #0085cc;
  --color-accent-500: #00a6ff;
  --color-accent-600: #33b8ff;
  --color-accent-700: #66c9ff;
  --color-accent-800: #99dbff;
  --color-accent-900: #ccedff;
  --color-accent-950: #e5f6ff;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@keyframes ellipsis {

  0%,
  20% {
      content: "";
  }

  40% {
      content: ".";
  }

  60% {
      content: "..";
  }

  80%,
  100% {
      content: "...";
  }
}

@layer utilities {
  .animate-ellipsis::after {
      content: "";
      display: inline-block;
      /* make it a block so we can size it */
      width: 3ch;
      /* reserve exactly enough space for “...” */
      text-align: left;
      /* left‑align the dots inside that box */
      @apply ml-1;
      /* keep your 0.25rem gap */
      animation: ellipsis 1.5s steps(4, end) infinite;
  }
}